.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading>div {
    height: 1px;
    width: 30vw;
    background: #000;
}

.heading>p {
    font-size: 2vmax;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 2vmax;
}

@media (min-width: 367px) and (max-width: 500px) {
    .heading>p {
        font-size: 1vmax;
        font-weight: 100;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: 2vmax;
    }