.HotAccessories {
    display: flex;
    width: 90vw;
    margin: auto;
}

.HotAccessories>div:first-child>img:hover {
    transform: translateY(-0.4vmax);
    box-shadow: 0px 6px 15px rgba(53, 53, 53, 0.363)
}

.HotAccessories>div:first-child>img {
    width: 25vw;
    cursor: pointer;
}

.HotAccessories>div:last-child {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media (min-width: 367px) and (max-width: 500px) {
    .HotAccessories {
        display: flex;
    }
}
